# Python
*.py[cod]

# C extensions
*.so

# mac cruft
.DS_Store

# Packages
*.egg
*.egg-info
dist
build

# Sphinx Docs
doc/_build

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Installer logs
pip-log.txt
